// Global body settings
body {
    color: #000000; // Black text
    background-color: #ffffff; // White background for clean look
    font-family: 'Nunito Sans', sans-serif; // Global font for simplicity and modern feel
    line-height: 1.6; // Slightly increased line height for better readability
    margin: 0;
    padding: 0;
}

// Links
a {
    color: #f32525; // Dark gray accent for links
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: #000000; // Darken on hover for sharp contrast
    }

    &:visited {
        color: #23bb23; // Slightly lighter gray for visited links
    }
}

// Headings
h1, h2 {
    color: #000000; // Black text for headings
    font-family: 'Montserrat', sans-serif; // Bold and modern font for headings
    font-weight: 700;
    letter-spacing: 1px; // Slightly wider letter spacing for clearer readability
    margin-bottom: 15px;
}

h3, h3.archive__subtitle {
    color: #333333; // Dark gray for smaller headings
    font-family: 'Proza Libre', sans-serif; // Subtle, clean font for h3
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 10px;
}

// Paragraphs and Text
p,
.sidebar p,
.archive__item-title,
a,
body {
    font-family: 'Nunito Sans', sans-serif; // Consistent, modern font for body text
    font-size: 1em; // Slightly increased font size for better readability
    color: #000000;
    margin-bottom: 10px; // Slightly more space between paragraphs for clarity
}

// Main Content Area
#main {
    position: relative;
    // max-width: 1200px;
    margin: 0 auto; // Center content on the page
    padding: 20px 10px; // Padding to give content breathing space
    background-color: #f9f9f9; // Very light gray for subtle contrast
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05); // Subtle shadow for depth
}

// Additional Styling for Blockquote
blockquote {
    font-style: italic;
    color: #666666; // Light gray for blockquote text
    border-left: 4px solid #e75555;
    padding-left: 10px;
    margin: 20px 0;
}
