---
layout: archive
---

<div class="home-content">
    {{ content }}

    <!-- Section for Favorite Projects -->
    <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_projects | default: "Highlighted Projects" }}
    </h3>

    {% if paginator %}
    {% assign posts = paginator.posts %}
    {% else %}
    {% assign posts = site.posts %}
    {% endif %}

    {% assign entries_layout = page.entries_layout | default: 'grid' %}
    <div class="entries-{{ entries_layout }}">
        {% for post in posts %}
        {% if post.highlight_home and post.categories contains 'projects' %}
        <div class="project-item">
            <h4>{{ post.title }}</h4>
            {% include archive-single.html type=entries_layout %}
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Section for Favorite Articles/Blog Posts -->
    <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Blog Posts" }}</h3>
    <div class="entries-{{ entries_layout }}">
        {% for post in posts %}
        {% if post.highlight_home and post.categories contains 'blogs' %}
        <div class="blog-item">
            <h4>{{ post.title }}</h4>
            {% include archive-single.html type=entries_layout %}
        </div>
        {% endif %}
        {% endfor %}
    </div>

    {% include paginator.html %}
</div>
